@use "mixin" as m;
@use "veriables" as v;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(255, 244, 244);
}
.login-controller-main{
    @include m.flex-default();
    height: 100vh;
    .login-form {
            @include m.form-box(5px solid v.$main-color)
        } 
}
.btn{
    @include m.btn-style(v.$main-color, 100px);
    &:hover{
        background-color: #d835d8;
        transition: .5s;
    }
}
.input{
    @include m.input-box(v.$main-color);
    &::placeholder{
        color: rgb(97, 92, 92);
    }
}
.move-password {
    @include m.move-margin(5px 0px 5px 19px);
}
.move-email{
    @include m.move-margin(5px 0px 5px 65px);
}
.li{
    @include m.highlight();
}
.registre-controller-main{
    @extend .login-controller-main;
    .registry-form{
        @extend .login-form;
        .input{
            border-radius: 8px;
            color: white;
        }
        .file {
            @include m.file-box();
            margin-left: 20%;
            &:hover{
                background-color: #d835d8;
                transition: .5s;
            }
        }
    }
}
.main-container-mainPage{
    @include m.background-img();
    display: flex;
    justify-content: center;
}
.black-screen{
    background-color: black;
    opacity: .85;
    height: 100vh;
    width: 90%;
    padding: 10px;
}
.new-btn-style{
    background-color: v.$main-color;
    color: white;
    padding: 5px 15px;
    font-size: 23px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    &:hover {
            background-color: #d835d8;
            transition: .5s;
        }
}
.logout{
    @extend .new-btn-style;
}
.border-class{
    border: 5px solid orange;
    background-color: blue;
    margin: 5px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin: 5px;
        text-align: center;
        color: white;
    }
    .input{
        color: white;
    }
}
.roll{
    @extend .new-btn-style;
}
.gg{
    display: flex;
    justify-content: space-evenly;
    max-width: 1100px;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading{
    @include m.text(55px);
}
.rate{
    @include m.text(20px);
        p {
            margin: 8px 0;
            text-align: left
        }
}
.info {
    @extend .rate;
    min-width: 400px;
    height: 220px;
    border: 3px solid orange;
    padding: 5px;
    overflow-y: auto;
    p{
        text-align: left;
        border-bottom: 3px dotted orange;
        span{
            color: red;
            font-weight: bold;
        }
    }
}
.expenses{
    @extend .rate;
}
.display-row{
    display: flex;
    column-gap: 5px;
}
.char-container{
    width: 500px;
    height: 500px;
}
.main-chart-container{
    display: flex;
    justify-content: center;
}
.chart-heading{
    @extend .heading;
    color: black;
}
.admin-page{
    @extend .gg;
    span{
        color: blue;
        font-weight: bold;
    }
    p{
        margin-top: 3px;
    }
    border: 3px solid orange;
    border-radius: 30%;
    background-color: gray;
    margin-top: 5px;
}
.main-container-admin{
    border: 5px solid v.$main-color;
    width: 850px;
    height: 300px;
    border-radius: 15px;
    background-image: url("../assets/bills.png");
    background-size: cover;
    overflow-y: auto;
}
.nn{
    display: flex;
    justify-content: center;
}
.delete-btn{
    @extend .new-btn-style;
    height: 30px;
    font-size: 15px;
}