* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 244, 244);
}

.login-controller-main, .registre-controller-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.login-controller-main .login-form, .registre-controller-main .login-form, .registre-controller-main .registry-form {
  border: 5px solid #6e0b8c;
  margin: 15px;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
  box-shadow: 5px 5px rgba(133, 22, 133, 0.224);
}

.btn {
  margin: 5px auto;
  padding: 5px 10px;
  font-size: 15px;
  width: 100px;
  background-color: #6e0b8c;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
.btn:hover {
  background-color: #d835d8;
  transition: 0.5s;
}

.input {
  background-color: #6e0b8c;
  padding: 5px;
  width: 250px;
  color: black;
  font-size: 25px;
  margin: 5px 15px;
  letter-spacing: 1.5px;
  padding-left: 2px;
  font-weight: bold;
  padding-left: 5px;
}
.input::-moz-placeholder {
  color: rgb(97, 92, 92);
}
.input::placeholder {
  color: rgb(97, 92, 92);
}

.move-password {
  margin: 5px 0px 5px 19px;
}

.move-email {
  margin: 5px 0px 5px 65px;
}

.li {
  display: inline;
  font-weight: 900;
  font-size: 20px;
}

.registre-controller-main .registry-form .input {
  border-radius: 8px;
  color: white;
}
.registre-controller-main .registry-form .file {
  width: 250px;
  height: 50px;
  background-color: #a824c9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 20%;
}
.registre-controller-main .registry-form .file:hover {
  background-color: #d835d8;
  transition: 0.5s;
}

.main-container-mainPage {
  background-image: url("../assets/bills.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.black-screen {
  background-color: black;
  opacity: 0.85;
  height: 100vh;
  width: 90%;
  padding: 10px;
}

.new-btn-style, .delete-btn, .roll, .logout {
  background-color: #6e0b8c;
  color: white;
  padding: 5px 15px;
  font-size: 23px;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.new-btn-style:hover, .delete-btn:hover, .roll:hover, .logout:hover {
  background-color: #d835d8;
  transition: 0.5s;
}

.border-class {
  border: 5px solid orange;
  background-color: blue;
  margin: 5px;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border-class h2 {
  margin: 5px;
  text-align: center;
  color: white;
}
.border-class .input {
  color: white;
}

.gg, .admin-page {
  display: flex;
  justify-content: space-evenly;
  max-width: 1100px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading, .chart-heading {
  font-size: 55px;
  color: white;
  text-align: center;
  border-bottom: 5px solid purple;
}

.rate, .expenses, .info {
  font-size: 20px;
  color: white;
}
.rate p, .expenses p, .info p {
  margin: 8px 0;
  text-align: left;
}

.info {
  min-width: 400px;
  height: 220px;
  border: 3px solid orange;
  padding: 5px;
  overflow-y: auto;
}
.info p {
  text-align: left;
  border-bottom: 3px dotted orange;
}
.info p span {
  color: red;
  font-weight: bold;
}

.display-row {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.char-container {
  width: 500px;
  height: 500px;
}

.main-chart-container {
  display: flex;
  justify-content: center;
}

.chart-heading {
  color: black;
}

.admin-page {
  border: 3px solid orange;
  border-radius: 30%;
  background-color: gray;
  margin-top: 5px;
}
.admin-page span {
  color: blue;
  font-weight: bold;
}
.admin-page p {
  margin-top: 3px;
}

.main-container-admin {
  border: 5px solid #6e0b8c;
  width: 850px;
  height: 300px;
  border-radius: 15px;
  background-image: url("../assets/bills.png");
  background-size: cover;
  overflow-y: auto;
}

.nn {
  display: flex;
  justify-content: center;
}

.delete-btn {
  height: 30px;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */